header {
    background-color: #ffcc60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 3rem;
    padding: 0.5rem 0.8rem;
    position: fixed;
    z-index: 10;
    top: 0;
    h2 {
      font-size: 1.5rem;
    }
    i {
      font-size: 2rem;
    }
  }